.form-error {
  color: red;
}

.container {
  display: flex;
  padding: 2rem 10rem;
}

.form-container {
  width: 80%;
}

.form-field {
  margin-bottom: 1rem;
  width: 90%;
  padding: .375rem .75rem;
}

.btn {
  display: inline-block;
  color: white;
  background-color: black;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}